::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: rgba(45, 59, 255, 0.302);
    border-radius: 8px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(191, 18, 253, 0.5);
  }
  body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    background-color: #ffffff;
    color: rgba(0, 0, 0, 0.6);
    font-weight: 400;
    line-height: 1.618;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: grayscale;
	overflow-x: hidden;
  }
h1{font-weight:500;font-size:23px;}
h2{font-weight:500;font-size:21px;}
h3{font-weight:500;font-size:20px;}
h4{font-weight:500;font-size:18px;}
h5{font-weight:500;font-size:18px;}
h1, h2, h3, h4, h5, h6 {
    color: #050505;
    word-wrap: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
}
a:hover, a:focus, a:active {
    color: #010508;
}
.content a {
    color: #ffffff;
}
.container,
p,
button,
input,
textarea,
.control,
.label,
.notice {
    text-align: center;
    margin: 0 auto;
}
.notice {
    max-width: 25rem;
}
.sign-button {
    max-width: 100%;
}
.sign-button {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
}
.input-box,
textarea,
.sign-button {
	width: 45rem !important;
	min-height: 3rem;
}
button {
    max-width: 100%;
}
.pwa-button {
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 32px;
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
	width: 25rem !important;
	min-height: 3rem;
}
.is-horizontal-center {
    justify-content: center;
  }
.buttonpwa {
	display: inline-flex;
	margin: 4px 0;
	padding: 8px 16px;
	border-radius: 4px;
	background-color: rgb(253, 98, 37);
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}
.buttonpwa:hover {
    background-color: rgb(248, 221, 68);
}
code {
    padding: 0 5px 2px;
    font-size: 0.8em;
    line-height: 1em;
    font-weight: 400;
    border-radius: 3px;
    color: rgb(41, 38, 38);
    background: rgb(243, 179, 42);
}
code {
    word-break: break-all;
}
pre {
    overflow-x: auto;
    margin: 1.5em 0 3em;
    padding: 20px;
    max-width: 100%;
    font-size:14px;
    border: #15171A 1px solid;
    color: #e5eff5;
    line-height: 1.5em;
    background: #15171A;
    border-radius: 5px;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased !important;
    -moz-font-smoothing: antialiased !important;
    text-rendering: optimizelegibility !important;
}
pre code {
    padding: 0;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.search-output {
    text-align: center;
    margin: 0 auto;
}
.search-output {
    max-width: 25rem;
}
.card-content.login {
    background-color: #ffe96e;
    box-shadow: 0 2px 4px #5351464d;
    border-radius: 32px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
    }
    .card-content.login {
        border: none;
        padding-top: 50px;
        padding-bottom: 50px;
}
.user-form {
    font-family: 'Ubuntu', sans-serif;
  }
.user-form p {
    letter-spacing: .03em;
    line-height: 20px;
    margin-bottom: 20px;
    word-wrap: break-word;
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #221f1f;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
}
.user-form button {
    display: flex;
    flex-grow: 0.3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 32px;
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
}
.user-form input {
    display: flex;
    flex-grow: 0.3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 32px;
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
}
.textbox {
    display: flex;
    flex-grow: 0.3;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 14px;
    border-radius: 32px;
    padding: 12px;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
}
blockquote {
    letter-spacing: .03em;
    font-family: 'Ubuntu', sans-serif;
    -moz-osx-font-smoothing: grayscale;
   -webkit-font-smoothing: antialiased !important;
   -moz-font-smoothing: antialiased !important;
   text-rendering: optimizelegibility !important;
  }
  .content h1 {
    font-size:21px;
    font-weight: 500;
}
.content h2 {
    font-size:21px;
    font-weight: 500;
}
.content h3 {
    font-size:20px;
    font-weight: 500;
}
.content h4 {
    font-size:18px;
    font-weight: 500;
}
footer p {
    font-size: 15px;
    font-weight: 500;
}
